html, body {
	height: 15000px;
	font-family: 'Courier New', Courier, monospace;
	background-color: gray;
}

img {
	height: 100%;
}


header{
	background-color: lawngreen;
}

header h5 {
	color: deeppink;
	font-size: 35px;
	font-weight: 900;
	padding: 15px;
}

.text-center {
    text-align: center;
}
.navigation {
    background-color: lightgray;
    padding: 30px;
    position: sticky;
    top: 0px;
    left: 0px;
    font-weight: 900;
}

.navigation ul {

}
.navigation ul li{
    display: inline-block;
	width: 130px;
    background-color: black;
    padding: 16px 25px;
    border: 2px solid yellow;
    border-radius: 35px 15px;
    position: relative;
}

.navigation ul li a {
    text-decoration: none;
    color: yellow;
}

.navigation ul li:hover {
    border: 2px solid black;
    background-color: yellow;
}

.navigation ul li:hover  a {
    color: black;
}

.nested-list {
    display: none;
    position: absolute;
    top: 50px;
	right: 0px;
}

.nested-list li {
    display: block !important;
	margin: 8px 0px;
}

.navigation ul li:hover .nested-list {
    display: block;
}

.navigation ul li:hover .nested-list li a{
    color: yellow;
}

.navigation ul li:hover .nested-list li:hover a{
    color: black;
}